<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{stylesheet}}" />
    <title>mlsn</title>
  </head>
  <body class="font-mono text-xl p-0 dark:bg-slate-900 bg-slate-200">
    <header
      class="bg-gradient-to-b dark:from-slate-950 dark:to-slate-900 from-slate-300 to-slate-200"
    >
      <nav
        class="flex flex-wrap items-center justify-between mx-auto p-5 flex-col md:flex-row text-3xl font-bold"
      >
        <a
          href="/"
          class="p-3 md:p-2 flex-col dark:text-slate-400 dark:hover:text-slate-300 text-slate-700 hover:text-slate-900 link-underline-highlight"
        >
          mlsn
        </a>
        <a
          href="/notes"
          class="p-3 md:p-2 flex dark:text-slate-400 dark:hover:text-slate-300 text-slate-900 hover:text-slate-700 link-underline-no-highlight"
        >notes</a>
      </nav>

      <h1
        class="text-center text-4xl md:text-6xl font-extrabold p-4 fancy-text-gradient py-8"
      >
        \me.ly.zin\
      </h1>
      <div
        class="text-center font-bold text-2xl dark:text-slate-300 text-slate-900 flex flex-col items-center justify-center lg:flex-row"
      >
        <div class="flex">
          devs n secures for money
          <span class="hidden lg:inline">&nbsp;//&nbsp;</span>
        </div>
        <div class="lg:hidden block">*</div>
        <div class="flex">
          meows for headpats<span class="hidden lg:inline">&nbsp;//&nbsp;</span>
        </div>
        <div class="lg:hidden block">*</div>
        <div class="flex">
          selfhosts for&nbsp;<span
            class="line-through decoration-4 decoration-orange-400"
          >fun</span>
        </div>
      </div>
    </header>
    <main
      class="p-2 mx-auto my-12 dark:text-slate-300 text-slate-900 container grid grid-cols-1 md:grid-cols-2 gap-8 w-full font-medium"
    >
      <div
        class="p-8 md:row-span-2 bg-gradient-to-r dark:from-pink-700 dark:to-orange-700 from-pink-300 to-orange-300 rounded-xl md:text-justify"
      >
        <h2 class="font-extrabold text-2xl my-2">
          Facts of questionable usefulness:
        </h2>
        <ul>
          <li>
            i like trains a lot! My favourites are the &quot;Nez
            Cass&eacute;s&quot; family of locomotives from Alstom (Alsthom back
            then?), and the BB67400 locomotive class from SNCF.
          </li>
          <li>
            i use an old Dell r620 as a white noise machine to sleep better (and
            host stuff). I haven't figured out how to do that with a raspi yet
            :s
          </li>
          <li>
            i listen to music a lot, mostly black metal, post rock, post
            hardcore and some noise!
          </li>
        </ul>
      </div>
      <div class="p-8 text-center bg-slate-500 bg-opacity-10 rounded-xl">
        I'm on fedi
        <a
          href="https://mastodon.mlsn.fr/@mlsn"
          class="font-extrabold fancy-text-gradient link-underline-no-highlight"
        >@mlsn@mastodon.mlsn.fr</a>.
        <p>
          So far I've been using selfhosted
          <a
            href="https://glitch-soc.github.io/docs/"
            target="_blank"
            class="link-underline-no-highlight"
          >glitch-soc</a>
          (not that it matters, registrations are closed on my instance)!
        </p>
      </div>
      <div class="p-8 text-center bg-slate-500 bg-opacity-10 rounded-xl">
        I'm on matrix if you need to contact me for some reason, with the
        <a
          href="https://matrix.to/#/@mlsn:mlsn.fr"
          class="font-extrabold fancy-text-gradient link-underline-no-highlight"
          target="_blank"
        >mlsn</a>
        username. It's a bit unreliable like everything else I host, thanks to
        the router my ISP has me use :s
      </div>
    </main>
    <footer class="text-center text-sm text-slate-500 m-14 mb-32">
      <p>Generated: {{generated}}</p>
    </footer>
  </body>
</html>